@import '../../variables.scss';



.dashboard-icons{
  height: auto;
  width: 169.54px / $mobile-width * 100vw;
  margin-left: auto;
  margin-right: auto;
}

.dashboard-icons, form .form-group{
  margin-bottom: 8vh
}

.form-control{
  border-color: transparent;

}

input, button{
  width: 75vw;
  border-radius: 50px;
  box-shadow: 0 6px 8px rgba(0,0,0, .16);
}


button{
  background-color: $login-button-bg;
  border: 0;
  padding: 6px;
  width: 295px / $mobile-width * 100vw;
  margin-top: 4vh;
  color: $login-button-text;
}

#login-container{
  margin-top: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: center
}

form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

*[disabled] {
  background-color: $disabled-color;
}

@media(min-width: 600px){
  #login-container{
    flex-direction: row;

    > *{
      width: 50vw;
      flex: 1;
    }

  }

  .form-group, button{
    width: 90%
  }

  .dashboard-icons{
    width: 35vw;
  }

  input{
    width: 100%
  }

}