$primary-color: #FCFCFC;
$contrast-accent-color-off-darker: #FFA33A;
$contrast-accent-color-darker: #FFA33A;
$contrast-accent-color: #FFA33A;
$dark-text-color: #174255;
$dark-text-bg:  #44B2E2;
$empty-bg: #B7C4C9;
$empty-text-bg: $empty-bg;
$disabled-color: #ccc;
$light-card-bg: #F7F7F7;


$mobile-height: 667px;
$mobile-width: 375px;

$login-button-text: #fff;
$login-button-bg: #44B2E2;

$slider-bg: $dark-text-color;
$slider-color: #FFA33A;